{{yield}}

<Jumbo>
  <h2>{{@doctor.naam}}</h2>
  <p>Nice find! This looks like a nice place to stay near {{@doctor.gemeente}}.</p>

  <ShareButton
    @text="Check out {{@doctor.naam}} on Super Doctors!"
    @hashtags="vacation,travel,authentic,blessed,superrentals"
    @via="emberjs"
  >
    Share on Twitter
  </ShareButton>
</Jumbo>

<article class="rental detailed">

  <div class="details">
    <h3>About {{@doctor.naam}}</h3>

    <div class="detail owner">
      <span>Owner:</span>
      {{@doctor.naam}}
    </div>
    <div class="detail type">
      <span>Type:</span>
      {{@doctor.type}}
    </div>
    <div class="detail location">
      <span>Location:</span>
      {{@doctor.straat}} - {{@doctor.huisnr}}
    </div>
    <div class="detail bedrooms">
      <span>City:</span>
      {{@doctor.gemeente}}, {{@doctor.postcode}}
    </div>
    <div class="detail description">
      <p>{{@doctor.description}}</p>
    </div>
  </div>

  <Map
    @lat={{@doctor.lat}}
    @lng={{@doctor.lng}}
    @zoom="12"
    @width="894"
    @height="600"
    alt="A map of {{@doctor.naam}}"
    class="large"
  />
</article>
