
{{yield}}
<h2>  {{@doctor.name}} </h2>
<form {{on "submit" (fn this.editDoctor @doctor)}}>
  <dl>
    <dt>Name : </dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.name}} @placeholder="naam" required />
    </dd>
    <dt>Street :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.street}} @placeholder="straat" required />
    </dd>
    <dt>Housenumber :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.housenumber}} @placeholder="huisnr" required />
    </dd>
    <dt>Postalcode :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.postalcode}} @placeholder="postcode" required />
    </dd>
    <dt>City :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.city}} @placeholder="gemeente" required />
    </dd>
  </dl>
  <button class="button" type="submit">Save</button>
</form>
