
{{yield}}
<h2>  {{@doctor.name}} </h2>
<form {{on "submit" (fn this.editDoctor @doctor)}}>
  <dl>
    <dt>Name : </dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.name}} @placeholder="naam" required />
    </dd>
    <dt>Street :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.street}} @placeholder="straat" required />
    </dd>
    <dt>Housenumber :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.housenumber}} @placeholder="huisnr" required />
    </dd>
    <dt>Postalcode :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.postalcode}} @placeholder="postcode" required />
    </dd>
    <dt>City :</dt>
    <dd>
      <Input class="inputfield" @value={{@doctor.city}} @placeholder="gemeente" required />
    </dd>
  </dl>

      <dt>Praktijk:</dt>
    <dd>
      <select class="inputfield" {{on "change" this.selectPractice}}>
        <option value="">Selecteer een praktijk</option>
        {{#each this.practices as |practice|}}
        {{practice}}
          <option value={{practice.id}}>{{practice.name}}</option>
        {{/each}}
      </select>
    </dd>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Save</button>
</form>
