
<article class="rental">

  <div class="details">
     <h3>
      <LinkTo @route="doctor" @model={{@doctor}}>
        {{@doctor.naam}}
      </LinkTo>
    </h3>
    <div class="detail owner">
      <span>Naam : </span> {{@doctor.naam}}
    </div>
    <div class="detail location">

      <span>Adres : </span> {{@doctor.straat}}
    </div>
    <div class="detail bedrooms">

      <span>Gemeente : </span>{{@doctor.gemeente}}
    </div>
  </div>
  <Map
    @lat={{@doctor.lat}}
    @lng={{@doctor.lng}}
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of {{@doctor.naam}}"
  />
</article>
