  <div class=" rounded border-blue-300 border-4 border-teal-500 w-4/12 mt-4 mb-12">
    <div class="flex flex-col justify-center items-center"> <!-- Added flex and items-center classes -->
      <LinkTo @route="doctor" @model={{@doctor}}>
        <h3 class="text-2xl font-bold">Dr. {{@doctor.name}}</h3>
      </LinkTo>

      <div class="my-2">
        <span class="font-bold">Street : </span>
        {{@doctor.street}}
      </div>
      <div class="my-2">
        <span class="font-bold">Housenumber : </span>
        {{@doctor.housenumber}}
      </div>
      <div class="my-2">
        <span class="font-bold">Postalcode : </span>
        {{@doctor.postalcode}}
      </div>
      <div class="my-2">
        <span class="font-bold">City : </span>
        {{@doctor.city}}
      </div>

      {{#if @doctor.practice}}
        <div class="my-2">
          <span class="font-bold">Practice : </span>
          {{@doctor.practice.name}}
        </div>
      {{else}}
        <div class="my-2 font-bold">
          <span>Practice : </span>
          No associated practice found.
        </div>
      {{/if}}

      <button
        class="m-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        {{on "click" (fn this.removeDoctor @doctor)}}
      >Remove</button>
    </div>
  </div>
