<div class="rental detailed">
  <div class="details">
    <LinkTo @route="practice" @model={{@practice}}>
      <h3>{{@practice.name}}</h3>
    </LinkTo>
    <div class="detail owner">
      <span>Street : </span>
      {{@practice.street}}
    </div>
    <div class="detail location">
      <span>Housenumber : </span>
      {{@practice.housenumber}}
    </div>
    <div class="detail bedrooms">
      <span>Postalcode : </span>
      {{@practice.postalcode}}
    </div>
    <div class="detail owner">
      <span>City : </span>
      {{@practice.city}}
    </div>
    <div class="detail location">
      <span>Type : </span>
      {{@practice.type}}
    </div>
    {{!-- <h1>{{@practice.doctors}}</h1> --}}

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      {{on "click" (fn this.removePractice @practice)}}
    >Remove</button>
  </div>

</div>