<div class="container">
  <div class="rounded border-blue-300 border-4 w-2/4 border-teal-500">
    <div class="flex flex-col justify-center items-center">
  <LinkTo @route="practice" @model={{@practice}}>
    <h3 class="text-2xl font-bold">{{@practice.name}}</h3>
  </LinkTo>
  <div class="my-2">
    <span class="font-bold">Street : </span>
    {{@practice.street}}
  </div>
  <div class="my-2">
    <span class="font-bold">Housenumber : </span>
    {{@practice.housenumber}}
  </div>
  <div class="my-2">
    <span class="font-bold">Postalcode : </span>
    {{@practice.postalcode}}
  </div>
  <div class="my-2">
    <span class="font-bold">City : </span>
    {{@practice.city}}
  </div>
  <div class="my-2">
    <span class="font-bold">Type : </span>
    {{@practice.type}}
  </div>
  <button
    class=" mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    {{on "click" (fn this.removePractice @practice)}}
  >Remove</button>
  </div>
</div>
</div>