<Jumbo>
  <h2>Voeg een nieuwe dokter toe</h2>
  <form {{on "submit" this.createDoctor}}>
    <dl>
      <dt>Naam:</dt>
      <dd>
        <Input
          class="inputfield"
          @value={{this.newName}}
          @placeholder="naam"
          required
        />
      </dd>
      <dt>Straat:</dt>
      <dd>
        <Input
          class="inputfield"
          @value={{this.newStreet}}
          @placeholder="straat"
          required
        />
      </dd>
      <dt>Huisnummer:</dt>
      <dd>
        <Input
          class="inputfield"
          @value={{this.newHousenumber}}
          @placeholder="huisnr"
          required
        />
      </dd>
      <dt>Postcode:</dt>
      <dd>
        <Input
          class="inputfield"
          @value={{this.newPostalcode}}
          @placeholder="postcode"
          required
        />
      </dd>
      <dt>Gemeente:</dt>
      <dd>
        <Input
          class="inputfield"
          @value={{this.newCity}}
          @placeholder="gemeente"
          required
        />
      </dd>

      <dt>Praktijk:</dt>
      <dd>
        <select
          class="inputfield"
          {{on
            "change"
            (action (mut this.selectedPracticeId) value="target.value")
          }}
        >
          <option value="">Selecteer een praktijk</option>
          {{#each @model as |doctor|}}
            <option value={{doctor.practice.name}}>{{doctor.practice.name}}</option>
          {{/each}}
        </select>
      </dd>
    </dl>
    <button class="button" type="submit">Create</button>
  </form>
</Jumbo>
