{{page-title "Add new doctor"}}

<Jumbo>
  <div class="container">
  <h2 class="text-5xl">Voeg een nieuwe dokter toe</h2>
  <form {{on "submit" this.createDoctor}} class="w-full max-w-lg">
    <dt>Naam:</dt>
    <dd>
      <Input
        @value={{this.newName}}
        @placeholder="naam"
        class="inputfield"
        type="text"
        required
      />
    </dd>
    <dt>Straat:</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newStreet}}
        @placeholder="straat"
        type="text"
        required
      />
    </dd>
    <dt>Huisnummer:</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newHousenumber}}
        @placeholder="huisnr"
        type="number"
        required
      />
    </dd>
    <dt>Postcode:</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newPostalcode}}
        @placeholder="postcode"
        type="number"
        required
      />
    </dd>
    <dt>Gemeente:</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newCity}}
        @placeholder="gemeente"
        type="text"
        required
      />
    </dd>

    <dt>Praktijk:</dt>
    <dd>
      <select class="inputfield" {{on "change" this.selectPractice}}>
        <option value="">Selecteer een praktijk</option>
        {{#each this.practices as |practice|}}
          <option value={{practice.id}}>{{practice.name}}</option>
        {{/each}}
      </select>
    </dd>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Create</button>
  </form>
  </div>
</Jumbo>