{{page-title "Add new doctor"}}

<Jumbo>
  <h2 class="text-5xl ml-5 pt-4">Add a new doctor :</h2>

  <form {{on "submit" this.createDoctor}}>

    <dt class="mt-4">Name :</dt>
    <dd>
      <Input
        @value={{this.newName}}
        @placeholder="naam"
        class="inputfield"
        type="text"
        required
      />
    </dd>
    <dt>Street :</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newStreet}}
        @placeholder="straat"
        type="text"
        required
      />
    </dd>
    <dt>Housenumber :</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newHousenumber}}
        @placeholder="huisnr"
        type="number"
        required
      />
    </dd>
    <dt>Postalcode :</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newPostalcode}}
        @placeholder="postcode"
        type="number"
        required
      />
    </dd>
    <dt>City :</dt>
    <dd>
      <Input
        class="inputfield"
        @value={{this.newCity}}
        @placeholder="gemeente"
        type="text"
        required
      />
    </dd>

    <dt class="mt-2 ml-4">Practice :</dt>
    <dd>
      <select class="inputfield w-58 ml-4" {{on "change" this.selectPractice}}>
        <option value="">Selecteer een praktijk</option>
        {{#each this.practices as |practice|}}
          <option value={{practice.id}}>{{practice.name}}</option>
        {{/each}}
      </select>
    </dd>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-3 ml-20"
      type="submit"
    >Create</button>
  </form>
</Jumbo>