<Jumbo>
  <h2>Voeg een praktijk toe :</h2>

<form {{on "submit" this.createPractice}}>
  <dl>
    <dt>Naam : </dt>
    <dd>
      <Input class="inputfield" @value={{this.newName}} @placeholder="naam" required />
    </dd>
    <dt>Straat :</dt>
    <dd>
      <Input class="inputfield" @value={{this.newStreet}} @placeholder="straat" />
    </dd>
    <dt>Huisnummer :</dt>
    <dd>
      <Input class="inputfield" @value={{this.newHousenumber}} @placeholder="huisnr" />
    </dd>
    <dt>Postcode :</dt>
    <dd>
      <Input class="inputfield" @value={{this.newPostalcode}} @placeholder="postcode" />
    </dd>
    <dt>Gemeente :</dt>
    <dd>
      <Input class="inputfield" @value={{this.newCity}} @placeholder="gemeente" />
    </dd>
    <dt>Type praktijk :</dt>
    <dd>
      <Input class="inputfield" @value={{this.newType}} @placeholder="praktijk" required />
    </dd>
  </dl>
  <button class="button" type="submit">Maak aan</button>
</form>
</Jumbo>