{{page-title "Add new practice"}}

<Jumbo>
    <h2 class="text-5xl ml-5 pt-4">Add a new practice :</h2>

    <form {{on "submit" this.createPractice}}>
      <dl>
        <dt class="mt-4">Name : </dt>
        <dd>
          <Input
            class="inputfield"
            @value={{this.newName}}
            @placeholder="naam"
            type="text"
            required
          />
        </dd>
        <dt>Street :</dt>
        <dd>
          <Input
            class="inputfield"
            @value={{this.newStreet}}
            @placeholder="straat"
            type="text"
          />
        </dd>
        <dt>Housenumber :</dt>
        <dd>
          <Input
            class="inputfield"
            @value={{this.newHousenumber}}
            @placeholder="huisnr"
            type="text"
          />
        </dd>
        <dt>Postalcode :</dt>
        <dd>
          <Input
            class="inputfield"
            @value={{this.newPostalcode}}
            @placeholder="postcode"
            type="text"
          />
        </dd>
        <dt>City :</dt>
        <dd>
          <Input
            class="inputfield"
            @value={{this.newCity}}
            @placeholder="gemeente"
            type="text"
          />
        </dd>
        <dt>Type of practice :</dt>
        <dd>
          <Input
            class="inputfield"
            @value={{this.newType}}
            @placeholder="praktijk"
            type="text"
          />
        </dd>
      </dl>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-3 ml-16"
        type="submit"
      >Create</button>
    </form>
</Jumbo>