{{yield}}
<Jumbo>
  <h2> {{@practice.practice}} </h2>
</Jumbo>
<form {{on "submit" (fn this.editPractice @practice)}}>
  <dl>
    <dt>Naam : </dt>
    <dd>
      <Input @value={{@practice.practice}} @placeholder="naam" required />
    </dd>
    <dt>Straat :</dt>
    <dd>
      <Input @value={{@practice.street}} @placeholder="straat" required />
    </dd>
    <dt>Huisnummer :</dt>
    <dd>
      <Input @value={{@practice.housenumber}} @placeholder="huisnr" required />
    </dd>
    <dt>Postcode :</dt>
    <dd>
      <Input @value={{@practice.postalcode}} @placeholder="postcode" required />
    </dd>
    <dt>Gemeente :</dt>
    <dd>
      <Input @value={{@practice.city}} @placeholder="gemeente" required />
    </dd>
    <dt>Type Praktijk :</dt>
    <dd>
      <Input @value={{@practice.type}} @placeholder="type" required />
    </dd>
  </dl>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Save</button>
</form>